<div class="squad">
  {{#link-to 'profile'}}
    Hide Squad
  {{/link-to}}

  {{#color-changer tagName='h3' color='brown'}}
    Here is your squad:
  {{/color-changer}}

  <ul>
    {{#each model as |friend|}}
      {{#color-changer tagName='li' color=friend.favoriteColor}}
        {{friend.name}}'s favorite color is {{friend.favoriteColor}}.
      {{/color-changer}}
    {{/each}}
  </ul>

</div>

<div class="squad-member">
  {{outlet}}
</div>
