<h4>Here is where we will edit a friend:</h4>

<p>Current Name: {{model.name}}</p>

{{#color-changer color=model.favoriteColor}}
  Current Color: {{model.favoriteColor}}
{{/color-changer}}

{{outlet}}
